<!DOCTYPE html>
<html>
  <head>
    <title>MINITON PROJECT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <header>

        <div class="container photo-flex">
            <div class="profile-photo-box">
                <img src="/assets/profile.jpg", class="profile-photo"> 
            </div>
            <div>
            <p>PONY</p>
            <p>이메일 : <%= @user.email %></p>
            <p>올린 글 개수 : <%= @posts.count %></p>
            <p>팔로워 : <%=@user.followers.length%></p>
            <p>팔로잉 : <%=@user.followings.length%></p>
                    <% if user_signed_in? && current_user != post.user %>
            <% if current_user.followings.include?(post.user) %>
                <%= form_tag follow_path(post.user.id), method: :delete, class: "right" do %>
            <button class="btn">언팔</button>
            <% end %>
            <% else %>
                <%= form_tag follows_path, class: "right" do %>
                <input type="hidden" name="followed_id" value="<%= post.user.id %>" />
                <button class="btn">팔로우</button>
                <% end %>
            <% end %>
        <%else%>
        <% end %>


      </header>      