<!DOCTYPE HTML>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gothic+A1:200" rel="stylesheet">
</head>
<body>
<br>
<div class="feed container">
    <div class="mainimage">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="card-image" src="/assets/bright.jpg">
            </div>
            <div class="card-content hee">
                <span class="card-title activator grey-text text-darken-4" href="#">#화보 #모델<i class="material-icons right">menu</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">#화보 #모델<i class="material-icons right">close</i></span>
                <div class="makeupcontent">
                <p>화장입니다. 짱 예쁘죠. 짱짱! 짱 예쁘죠. 이거 닉네임 안 밀리게 하려는 거예용.</p>
                </div>
                <div class="to">
                <%= link_to "JIHYUN"%>
                </div>
            </div>
        </div>
    </div>

    <div class="mainimage">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="card-image" src="/assets/bright2.jpg">
            </div>
            <div class="card-content hee">
                <span class="card-title activator grey-text text-darken-4" href="#">#화보 #모델<i class="material-icons right">menu</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">#화보 #모델<i class="material-icons right">close</i></span>
                <div class="makeupcontent">
                <p>화장입니다. 짱 예쁘죠. 짱짱! 짱 예쁘죠. 이거 닉네임 안 밀리게 하려는 거예용.</p>
                </div>
                <div class="to">
                <%= link_to "JIHYUN"%>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mainimage">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="card-image" src="/assets/bright3.jpg">
            </div>
            <div class="card-content hee">
                <span class="card-title activator grey-text text-darken-4" href="#">#화보 #모델<i class="material-icons right">menu</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">#화보 #모델<i class="material-icons right">close</i></span>
                <div class="makeupcontent">
                <p>화장입니다. 짱 예쁘죠. 짱짱! 짱 예쁘죠. 이거 닉네임 안 밀리게 하려는 거예용.</p>
                </div>
                <div class="to">
                <%= link_to "JIHYUN"%>
                </div>
            </div>
        </div>
    </div>

    <div class="mainimage">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="card-image" src="/assets/bright4.jpg">
            </div>
            <div class="card-content hee">
                <span class="card-title activator grey-text text-darken-4" href="#">#화보 #모델<i class="material-icons right">menu</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">#화보 #모델<i class="material-icons right">close</i></span>
                <div class="makeupcontent">
                <p>화장입니다. 짱 예쁘죠. 짱짱! 짱 예쁘죠. 이거 닉네임 안 밀리게 하려는 거예용.</p>
                </div>
                <div class="to">
                <%= link_to "JIHYUN"%>
                </div>
            </div>
        </div>
    </div>
</div>

<br> <br> <br>

<div class="feed container">
    <div class="mainimage">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="card-image" src="/assets/bright.jpg">
            </div>
            <div class="card-content hee">
                <span class="card-title activator grey-text text-darken-4" href="#">#화보 #모델<i class="material-icons right">menu</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">#화보 #모델<i class="material-icons right">close</i></span>
                <div class="makeupcontent">
                <p>화장입니다. 짱 예쁘죠. 짱짱! 짱 예쁘죠. 이거 닉네임 안 밀리게 하려는 거예용. 절대 안 밀리게 헤헤헤헤 절대 절대 절대 꺄아아 절대 해요해요 헤헤헤 ㅇ으아어아ㅏ 헤</p>
                </div>
                <div class="to">
                <%= link_to "JIHYUN"%>
                </div>
            </div>
        </div>
    </div>

    <div class="mainimage">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="card-image" src="/assets/bright.jpg">
            </div>
            <div class="card-content hee">
                <span class="card-title activator grey-text text-darken-4" href="#">#화보 #모델<i class="material-icons right">menu</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">#화보 #모델<i class="material-icons right">close</i></span>
                <div class="makeupcontent">
                <p>화장입니다. 짱 예쁘죠. 짱짱! 짱 예쁘죠. 이거 닉네임 안 밀리게 하려는 거예용.</p>
                </div>
                <div class="to">
                <%= link_to "JIHYUN"%>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mainimage">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="card-image" src="/assets/bright.jpg">
            </div>
            <div class="card-content hee">
                <span class="card-title activator grey-text text-darken-4" href="#">#화보 #모델<i class="material-icons right">menu</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">#화보 #모델<i class="material-icons right">close</i></span>
                <div class="makeupcontent">
                <p>화장입니다. 짱 예쁘죠. 짱짱! 짱 예쁘죠. 이거 닉네임 안 밀리게 하려는 거예용.</p>
                </div>
                <div class="to">
                <%= link_to "JIHYUN"%>
                </div>
            </div>
        </div>
    </div>

    <div class="mainimage">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="card-image" src="/assets/bright.jpg">
            </div>
            <div class="card-content hee">
                <span class="card-title activator grey-text text-darken-4" href="#">#화보 #모델<i class="material-icons right">menu</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">#화보 #모델<i class="material-icons right">close</i></span>
                <div class="makeupcontent">
                <p>화장입니다. 짱 예쁘죠. 짱짱! 짱 예쁘죠. 이거 닉네임 안 밀리게 하려는 거예용.</p>
                </div>
                <div class="to">
                <%= link_to "JIHYUN"%>
                </div>
            </div>
        </div>
    </div>
</div>
<br> <br>
</body>