<head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

                    <header>

        <div class="container photo-flex">
            <div class="profile-photo-box">
                <img src="/assets/profile.jpg", class="profile-photo"> 
            </div>
            <div>
            <p>PONY</p>
            <button type="button" class="btn btn-sm loginbutton ">follow</button>
            <button type="button" class="btn btn-sm loginbutton ">message</button>

          <div class="d-flex">
          <p class="follow">게시물 &nbsp;</p><p class="follow name">530</p>
          <div class="space"></div>
          <p class="follow">팔로워 &nbsp;</p><p class="follow name">40.7k</p>
          <div class="space"></div>
          <p class="follow">팔로우 &nbsp;</p><p class="follow name">1</p>
              </div>
              </div>
        </div>

      </header>    

      
<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="<%= @user.avatar.url %>" />
                </div>
                <div class="card-content">
                    <div class="card-title"><%= @user.user_name %></div>
                    <p>이메일 : <%= @user.email %></p>
                    <p>올린 글 개수 : <%= @posts.count %></p>
                    <p>팔로워 : <%=@user.followers.length%></p>
                    <p>팔로잉 : <%=@user.followings.length%></p>
                   
                    <% if user_signed_in? && current_user != @user %>
            <% if current_user.followings.include?(@user) %>
                <%= form_tag follow_path(@user.id), method: :delete, class: "right" do %>
            <button class="btn">언팔</button>
            <% end %>
            <% else %>
                <%= form_tag follows_path, class: "right" do %>
                <input type="hidden" name="followed_id" value="<%= @user.id %>" />
                <button class="btn">팔로우</button>
                <% end %>
            <% end %>
        <%else%>
        <% end %>
                    
  
                    

                </div>
            </div>
        </div>
        <div class="col s12 m8">
            <% @posts.each do |post| %>
                <div class="card">
    <div class="card-content">
        <% if post.user.avatar%>
            <img class="circle" src="<%= post.user.avatar.thumb.url%>">
        <%end%>
        <span class="card-title"><%= post.user.user_name %></span>
        <span><%= post.created_at %></span>
        <div class="card-image">
            <% if post.image.url %>
            <img src="<%= post.image.url %>" />
            <% end %>
        </div>
        
        <p><%= post.content %></p>
    </div>

    <div class="card-action">
        <%= "#{post.likes.count} 명이 좋아합니다."%>
        <%if current_user.is_like?(post)%>
          <%= link_to "좋아요 취소", post_like_path(post), method: "post"%>
        <%else%>
          <%= link_to "좋아요", post_like_path(post), method: "post"%>
        <%end%> 

        <% if user_signed_in? && current_user != post.user %>
            <% if current_user.followings.include?(post.user) %>
                <%= form_tag follow_path(post.user.id), method: :delete, class: "right" do %>
            <button class="btn">언팔</button>
            <% end %>
            <% else %>
                <%= form_tag follows_path, class: "right" do %>
                <input type="hidden" name="followed_id" value="<%= post.user.id %>" />
                <button class="btn">팔로우</button>
                <% end %>
            <% end %>
        <%else%>
        <% end %>
        
            
        
    </div>
</div>
            <% end %>
        </div>
    </div>

        
</div>

<%= form_tag reviews_path do%>
    <input type="hidden" name="reviewed_id" value="<%= @user.id %>" />
    <input type="hidden" name="reviewing_id" value="<%= current_user.id %>" />
    <input type="text-area" name="content">
    <input type="submit" name="action" value="작성">
<%end%>

<% @reviews.each do |review| %>
    <%= User.find(review.reviewer_id).user_name%><br>
    <%= review.content %><br>
<<<<<<< HEAD
    <%= link_to "삭제", review_path(id: review.id), method: 'delete'%><br>
<%end%>
=======
    <%= link_to "삭제", review_path(:id), method: 'delete'%><br>
<%end%>

</body>
>>>>>>> 5a8c5f8bea55d22fbc4f70400156d8123d54c966
