<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="<%= @user.avatar.url %>" />
                </div>
                <div class="card-content">
                    <div class="card-title"><%= @user.user_name %></div>
                    <p>이메일 : <%= @user.email %></p>
                    <p>올린 글 개수 : <%= @posts.count %></p>
                    <p>팔로워 : <%=@user.followers.length%></p>
                    <p>팔로잉 : <%=@user.followings.length%></p>
                    

                    

                </div>
            </div>
        </div>
        <div class="col s12 m8">
            <% @posts.each do |post| %>
                <div class="card">
    <div class="card-content">
        <% if post.user.avatar%>
            <img class="circle" src="<%= post.user.avatar.thumb.url%>">
        <%end%>
        <span class="card-title"><%= post.user.user_name %></span>
        <span><%= post.created_at %></span>
        <div class="card-image">
            <% if post.image.url %>
            <img src="<%= post.image.url %>" />
            <% end %>
        </div>
        
        <p><%= post.content %></p>
    </div>

    <div class="card-action">
        <%= "#{post.likes.count} 명이 좋아합니다."%>
        <%if current_user.is_like?(post)%>
          <%= link_to "좋아요 취소", post_like_path(post), method: "post"%>
        <%else%>
          <%= link_to "좋아요", post_like_path(post), method: "post"%>
        <%end%> 

        <% if user_signed_in? && current_user != post.user %>
            <% if current_user.followings.include?(post.user) %>
                <%= form_tag follow_path(post.user.id), method: :delete, class: "right" do %>
            <button class="btn">언팔</button>
            <% end %>
            <% else %>
                <%= form_tag follows_path, class: "right" do %>
                <input type="hidden" name="followed_id" value="<%= post.user.id %>" />
                <button class="btn">팔로우</button>
                <% end %>
            <% end %>
        <%else%>
        <% end %>
        
            
          
    </div>
</div>
            <% end %>
        </div>
    </div>
</div>

<%= form_tag reviews_path do%>
    <input type="hidden" name="reviewed_id" value="<%= @user.id %>" />
    <input type="hidden" name="reviewing_id" value="<%= current_user.id %>" />
    <input type="text-area" name="content">
    <input type="submit" name="action" value="작성">
<%end%>

<% @reviews.each do |review| %>
    <%= User.find(review.reviewer_id).user_name%><br>
    <%= review.content %><br>
    <%= link_to "삭제", review_path(id: review.id), method: 'delete'%><br>
<%end%>