<head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <header>
        <div class="container d-flex margin-top">
            <img src="<%= @user.avatar.url %>", class="rounded"/>
        <div class="font-profile">
        <h3><%= @user.user_name %>         
        <% if user_signed_in? && current_user != @user %>
                <% if current_user.followings.include?(@user) %>
                    <%= form_tag follow_path(@user.id), method: :delete, class: "right" do %>
                <button class="btn loginbutton">UNFOLLOW</button>
                <button class="btn loginbutton">MESSAGE</button>
                <% end %>
                <% else %>
                    <%= form_tag follows_path, class: "right" do %>
                    <input type="hidden" name="followed_id" value="<%= @user.id %>" />
                    <button class="btn loginbutton">FOLLOW</button>
                    <button class="btn loginbutton">MESSAGE</button>
                    <% end %>
                <% end %>
            <%else%>
            <% end %>
        </h3>
        <h5><%= @posts.count %> <strong>POSTS</strong>
        <%=@user.followers.length%> <strong>FOLLOWERS</strong>   <%=@user.followings.length%> <strong>FOLLOWING</strong> 
</h5>
        </div>
        </div>


            
    </header>

</body>