<!DOCTYPE html>
<html>
  <head>
    <title>MINITON PROJECT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </head>

  <body>
<nav class="white">
      <div class="nav-wrapper d-flex">
        <a href="#!" class="brand-logo"><%= link_to image_tag("logo.png", class:"LogoAbout")%></a>
          <div class="d-flex">
            
            <div><i class="material-icons nav-items">search</i>
            </div>

            <div>
              <input type="search" placeholder="" class="nav-items">
            </div>
          
          </div>
          
        <ul class="right hide-on-med-and-down">  
          <li><a href="badges.html"><i class="material-icons nav-items">view_module</i></a></li>
          <li><a href="collapsible.html"><i class="material-icons nav-items">face</i></a></li>
          <li><a href="mobile.html"><i class="material-icons nav-items">more_vert</i></a></li>
        </ul>
      </div>
    </nav>
        <%= yield %>
      </div>

  </body>
</html>
